@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

html, body {
    height: 100%;
    margin: 0; /* Remove default margins */
    display: flex;
    flex-direction: column; /* Align items vertically */
    font-family: 'Inter', Arial, sans-serif; 
    background-color: rgb(21, 32, 43); 
    scrollbar-color: rgb(92, 110, 126) rgb(30, 39, 50); 
}

/* Make the content area grow to take up available space */
.content {
    flex: 1; /* Grow to fill available space */
}

/* Footer styles */
.footer {
    background-color: #000; /* Example background */
    color: #fff; /* Example text color */
    text-align: center;
    padding: 10px 0;
    opacity: 0.35
}
